<ifModule mod_headers.c>
  # Always set these headers.
  Header always set Access-Control-Allow-Methods "GET"
  Header always set Access-Control-Allow-Origin "*"
  Header always set Access-Control-Max-Age 10000
</ifModule>


